
@import "tailwindcss";

:root {
  --color-brand-500: #465fff;
  --color-gray-200: #e4e7ec;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
	button:not(:disabled),
	[role="button"]:not(:disabled) {
		cursor: pointer;
	}
	body {
		@apply relative font-normal z-1 bg-gray-50;
	}
}
