name: On Release

on:
  release:
    types: [created]

jobs:
  on-release-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Exibir mensagem
        run: echo "Uma nova release foi criada!"