name: On Release

on:
  release:
    types: [created]

jobs:
  on-release-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install pnpm
        run: npm install -g pnpm
        
      - name: Exibir mensagem
        run: echo "Uma nova release foi criada!"